<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slib.multiprocesssimpleconnect">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name=".RPCRouterService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="COM_SLIB_RPC_ROUTER_SERVICE_ACTION" />
            </intent-filter>
        </service>
    </application>

</manifest>
